# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
media/
staticfiles/

# IDEs
.vscode/
*.idea/

# OS
.DS_Store
Thumbs.db

# Fichiers spécifiques non suivis
static/images/hero.jpg
templates/robots.txt