{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Fallou City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav class="custom-navbar navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" class="logo me-2">
            <span class="fw-bold">Fallou City</span>
        </a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto text-center">
                <li><a class="nav-link" href="{% url 'home' %}">Accueil</a></li>
                <li><a class="nav-link" href="{% url 'proprietes' %}">Propriétés</a></li>
                <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<footer class="bg-dark text-light pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row text-center text-md-start">

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Fallou City</h5>
        <p>Votre partenaire immobilier de confiance.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Liens rapides</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="text-light">Accueil</a></li>
          <li><a href="{% url 'proprietes' %}" class="text-light">Propriétés</a></li>
          <li><a href="{% url 'services' %}" class="text-light">Services</a></li>
          <li><a href="{% url 'contact' %}" class="text-light">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Contact</h5>
        <p>Dakar, Sénégal</p>
        <p>+221 77 101 58 58</p>
        <p>falloucity@gmail.com</p>
      </div>

    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>